[Unit]
Description=Collect data
Documentation=man:ClusterTools2-timer

[Timer]
OnCalendar=*-*-* *:1,11,21,31,41,51:03
AccuracySec=30
Persistent=true

[Install]
WantedBy=timers.target
