configure \
property $id="cib-bootstrap-options" \
	cluster-infrastructure="openais" \
	expected-quorum-votes="2" \
	no-quorum-policy="ignore" \
	dc-deadtime="20s" \
	default-resource-stickiness="1000" \
	stonith-enabled="true" \
	stonith-timeout="150s"
configure \
rsc_defaults $id="rsc_defaults-options" \
	migration-threshold="5" \
	failure-timeout="86400s"
configure \
op_defaults $id="op_defaults-options" \
	timeout="120s"
